*{
    margin: 0;
    padding: 0;
}

/*ANIMACIONES*/




body {
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    background: #ffffff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Header*/

header{
    animation: para_abajo 1s;
}



#h_index{
    background-image: url("../Multimedia/background81.jpg");
    height: 100vh;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.logo{
    transition:.5s;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1.5rem;
}

.logo a{
    padding-top: 0.4rem;
}
.header img {
    transition: all 500ms; 
}

.logo img:hover {
    transform: scale(1.1);
}

.nombreProyecto {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.618);
    letter-spacing: 0.1rem;
    width: 3rem;
    align-self: center;
}

/*Searchbox
.icon{
    color: #ffffff83;
    float: right;
    width: 40px;
    font-size: 1.3rem;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
.search-box{
    position: absolute;
    top: 6%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: #171b203c;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    border: solid rgba(0, 0, 0, 0.107);
}

.search-box:hover > input{
    width: 200px;
    padding: 0 10px;
}

.search-box:hover > icon{
    background: #5baca1;
}

.icon:hover{
    transform: rotate(360deg) scale(0.8);
}

input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
    color: #fff;
}*/

.headerMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    justify-content: center;
    animation: blur 2s 0s;
}


.listaNav {
    list-style: none;
    letter-spacing: 0.1rem;
}

.listaNav li {
    position: relative;
    font-size: 1.4rem;
    display: inline-block;
    padding:0rem 1.5rem;
    transition:1s;
}

/*estilo*/

.glitch_menu{
    cursor: pointer;
}

.headerMenu ul li a{
    color: #000000 ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-shadow: -0.02em 0 0 #F22613,  0.02em 0 0 #00FFFF;
    text-decoration: none;
    letter-spacing: 0.5rem;
    font-weight: lighter;
    padding-bottom: 10px;
}

.headerMenu ul li a:hover{
    color: #5baca1 ;
    
}

.headerMenu ul li:hover{
    transform: scale(1.1);
}

.glitch_menu:after{
    content:"";
    bottom:5px;
    transition:.5s;
    transition-delay:.2s;
}

.headerMenu ul li a:before{
    font-family:fontAwesome;
    font-size:.75em;
    line-height:50px;
    position:absolute;
    right:25px;
    top:0;
    bottom:0;
    margin:auto;
    transition:.5s;
    }

/*Submenú*/
ul ul {
    position: relative;
    display: none;
}

ul ul li {
    position: relative;
    display: none;
   
}

.headerMenu ul ul li a{
    font-size: 0.8rem ;
    padding: 1rem 0rem;
    letter-spacing: 0rem;
    text-align: center;
}
.headerMenu ul ul li:hover{
    transform: unset;
}

ul li:hover ul {
    position: absolute; 
    display: block;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.171);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1;
    padding: 1rem;
    border-radius: 2rem;
    width:90%;
    right:0px;
    top: 40px;
    right: 0.1rem;
}

.headerMenu ul ul li a:hover{
    color: #5baca1;
}




/*Inicio*/
#inicio{
    color: #5baca1;
    font-size: 1.5rem;
}

#hombre {
    display: flex;
    align-items: flex-end;
    height: 85%;
    
}

#hombre div {
    color: #080a0c;
    margin: 0rem 0rem 6rem 6rem;  
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    transition: 1s;
    animation: izq_a_der 2s ease-in;
}



#hombre div h1{
    letter-spacing: 5px;
    
}

.btn {
    min-width: 130px;
    height: 40px;
    color: rgb(62, 145, 156);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #05090c;
    box-shadow: 0 5px #212529;
}

.btn:hover {
    box-shadow: 0 3px #212529;
    top: 1px;
}

.btn:active {
    box-shadow: 0 0 #212529;
    top: 5px;
}

/*Bloques de beneficio*/
.contenedorBloques{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    transition: all 500ms;
    margin: 10rem 0rem ;
}

.bloqueBeneficio {
    color: rgba(255, 255, 255, 0.685);
    padding: 2rem;
    margin: 0rem;
    font-weight: bold;
    transition: all 0.3s ease;
    background-size: 120% auto;
    letter-spacing: 0.2rem;
    cursor:default;
    background: #05090c;
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 14rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: blur 2s;
}

.bloqueBeneficio h2{
    color: #000000;
    text-shadow: -0.04em 0 0 #F22613,  0.04em 0 0 #00FFFF;
}

.bloqueBeneficio:hover {
    background-position: right center;
    box-shadow: rgba(0, 0, 0, 0.266) 5px 5px 10px 5px;
    transform: scale(1.1);
}
.BloqueBeneficio:active {
    top: 2px;
}

.bloqueBeneficio ul{
    list-style: none;
}

/*Tarjeta SALE*/

.sale {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: auto 500px auto ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "text fotos"
    "foto fotos"
    "foto btn";
    padding: 3rem;
    
    justify-content: center;
    background: linear-gradient( #1a777a8a 5%, #102227 100% )
}

.texto{
    grid-area: text;
    margin: 0.5rem 2rem;
    padding: 0rem;
    border-bottom: solid #05090c;
    
}
.texto h1{
    font-family: 'Righteous', cursive;
    letter-spacing: 0.1rem;
    font-size: 4.6rem;
    margin: 0rem;
    color: #05090c;
    text-shadow: -0.04em 0 0 #F22613,  0.04em 0 0 #00FFFF;
    animation: para_arriba 3s;
}
.foto-1{
    grid-area: foto;
    background-image: url(../Multimedia/grid.jpg);
    margin: 0rem 2rem;
    animation: para_arriba 3s;
}
.foto-2{
    grid-area: fotos;
    background-image: url(../Multimedia/grid2.jpg);
    margin: 0rem 2rem;
    background-size: cover;
    animation: para_abajo 3s;
}
.boton{
    grid-area: btn;
    font-size: 1.5rem;
    font-family: 'Righteous', cursive;
    padding: 1rem 1rem;
    border-top: solid #05090c;
    margin: 0.5rem 2rem ;
    letter-spacing: 0.1rem;
    font-family: 'Righteous', cursive;
    letter-spacing: 0.1rem;
    animation: para_abajo 3s;
}

.button-glitch,
.button-glitch:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #05090c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #2699a1;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.button-glitch:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #000fe2 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-glitch:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}





/*Texto de presentación*/
#text {
    color: rgba(15, 14, 14, 0.781);
    text-align: center;
    padding: 5rem 5rem 5rem 5rem; 
    margin: 5rem 0rem;
    background-size: cover;
    }


#text h2{
    font-size: 4.5rem;
    overflow: hidden; 
    border-right: .15em solid rgb(23, 148, 197); 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(40, end),
    barrita .75s step-end infinite;
    }

    

    #text p{
        font-size: 2rem;
        line-height: 2.2rem;
        font-weight: 200;
        position: relative;
        padding-top: 50px;
    }


    


    /*PROYECTO*/
    .conoceProyecto{
        background: linear-gradient( rgb(0, 0, 0) 50%, rgb(204, 208, 209) 50%);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0% 0%;
        margin-top: 3rem;
        animation: der_izq 2s;
    }
    .contenedorProyecto{
        color: rgb(255, 255, 255);
        text-align: justify;
        font-size: 2rem;
        padding: 5rem;
        
    }

    .contenedorProyecto h4{
        color: #1e5357;
        letter-spacing: 0.4rem;
    }

    .btn_proyecto{
        border: none;
        display: inline-block;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.822);
        color: #ffffff;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        width: 10rem;
        transition: all 0.5s;
        cursor: pointer;
        margin: 2rem; margin-left: 0rem;
    }
    .btn_proyecto:hover{
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }


    


/*
    .container{
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: auto auto 100px;
        grid-gap: 1rem;
        grid-template-areas: 
        "foto-1 foto-2 foto-2" 
        "foto-1 foto-3 foto-4" 
    }
    
    .foto-1 {
    grid-area: foto-1;
    background-color:red
    }
    .foto-2 {
    grid-area: foto-2;
    background-color:violet;
    background-image: url(././Multimedia/14.jf);
    }
    .foto-3 {
    grid-area: foto-3;
    background-color:green;
    }

    .foto-4{
        grid-area: foto-4;
        background-color:rgb(255, 208, 0);  
    }

*/


/*FOOOOOTER*/


    

    footer{
        position: static;
        color: rgb(0, 0, 0);
        background-color: #273036;
        margin: 0rem;
    }

.footer_fila_1{
    font-size: 1rem;
    padding-left: 2rem;
    background-color: #273036;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    font-size: 1.5rem;
}

.footer_fila_1 p{
    padding: 1rem;
}

.footer_fila_1 h6{
    font-size: 3rem;
}

    .footer_fila_2{
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .redes{
        font-size: 4rem;
        text-decoration: none;
        align-self: center;
        
    }

    .redes a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        color: #000000;
        padding: 2rem;
    }

    svg{
        margin: 0%;
        position: relative; top: 2rem;
    }
    










/*¡¡¡TIENDA!!!!*/

#tienda{
    color: #5baca1;
    font-size: 1.5rem;
}

#h_todos{
    background-color: #ffffff;
    height: 26vh;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_tienda {
    display: grid;
    grid-template-columns: 550px 550px;;
    grid-template-rows: 550px 550px;;
    grid-gap: 1rem;
    grid-template-areas: 
    "modelos modelos"
    "filtro galeria";
    background: rgb(170,190,227);
    background: radial-gradient(circle, rgba(170,190,227,1) 55%, rgba(0,0,0,1) 100%);
}


/*Main*/

.banner{
    width: 100%;
    margin-bottom: 5rem;
    animation: izq_a_der 1s;
}


/*MODELOS*/
/*GRID*/
.grid_tienda {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 0.5rem;
    grid-template-areas: 
    "modelos modelos"
    "filtro galeria";
    
    height: 80rem;
}

/*APARTADO*/
.modelosSect{
    
    background-size: cover;
    display: flex; 
    justify-content:flex-end;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    height: 15rem;
    grid-area: modelos;
}

.textModelo{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1rem;
    color: rgb(0, 0, 0);
    text-shadow:
    0 0 5px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0),
    0 0 40px rgba(0, 255, 255, 0.788),
    0 0 80px rgba(0, 255, 255, 0.719),
    0 0 90px rgba(0, 255, 255, 0.664),
    0 0 100px rgba(0, 255, 255, 0.685),
    0 0 150px rgba(0, 255, 255, 0.705);
    padding-right: 5rem;
    text-align: end;
}



/*FILTRO*/
.filtro{
    background-color: #ffffff;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 16.6rem;
    padding: 1rem ;
    box-shadow: #0000008f 5px 5px 5px 5px; 
    grid-area: filtro;
}

.nav_tienda {
    position: relative;
}

.nav_tienda ul {
    list-style: none;
    position: static;
}

.nav_tienda ul li {
    position: relative;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.nav_tienda ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav_tienda ul li a:hover {
    text-decoration: underline;
    animation: underline 1s infinite;
}

.nav_tienda ul ol{
    padding: 1.5rem;
    padding: 0.5rem;
}
.formulario_tienda form{
    position: relative;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.formulario_tienda form h4{
    font-size: 1rem;
    padding: 1rem;
}

.pago{
    padding: 1rem 0rem 1rem 0rem;
}
.pago label{
    padding-left: 1rem;
}

.formulario_tienda form label{
    font-size: 1rem;
}

/*Galería*/
.galeria{
    grid-area: galeria;
}
.galeriaTienda{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 2%;
    background-color: #ffffff;
    padding-bottom: 4rem; 
}

#galeriaTienda1{
    padding-top: 4rem;
}

.galeriaTienda img{
    padding: 0.5rem;
    margin: 1rem;
    background-color: #ffffff;
}

.galeriaTienda img:hover{
    transform: scale(1.1);
    box-shadow: #0000005e 5px 5px 5px 5px;
}

/*¡¡¡CONTACTO!!!!*/
    /*Color de menú actual*/
    #contacto{
        color: #5baca1;
        font-size: 1.5rem;
    }

/*Main*/
/*Formulario*/
.contenedorContacto{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    justify-content: center;
    background: linear-gradient( #357077 50%, #102227 100% );
    padding: 3% 3% 3% 3%;
    margin: 5%;
    border-radius: 1%;
    border: solid rgba(8, 33, 56, 0.342);
    box-shadow: 5px 5px 5px 5px #210c9756;
    animation: tarjeta 1s;
}

.formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0%;
    color: aliceblue;
    width: 30rem;
    padding: 5rem;
}

.contenedorContacto h1{
    font-family: 'Righteous', cursive;
    letter-spacing: 0.1rem;
    font-size: 4.6rem;
    margin: 0rem;
    text-align: center;
    color: #05090c;
    text-shadow: -0.04em 0 0 #F22613,  0.04em 0 0 #00FFFF;
}

label{
    font-size: small ;
    padding: 1rem;
}

    .sexo{
    padding: 1%;
    }

    select{
        padding: 2%;
        margin: 2%;
    }
    .input{
        padding: 2%; padding-bottom: 1%;
        border: solid rgba(4, 57, 65, 0.911);
        box-shadow: 2px 2px 2px 2px rgba(224, 218, 134, 0.61);
        text-align: center;
    }
    
    .newsletter{
        padding-bottom: 1%;
    }

    textarea{
        padding: 2%; padding-bottom: 1%;
        border: solid rgba(4, 57, 65, 0.911);
        box-shadow: 2px 2px 2px 2px rgba(224, 218, 134, 0.61);
        text-align: center;
    }

    .botones input{
        padding: 1%;
        border: 2px solid #ffffff; 
        padding: 10px; 
        background-color: transparent;
        color: #ffffff; 
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer ;
        margin-top: 2rem;
    }
    .botones input:hover{
    background-color: #0000007a;
            color: white;
        
        }

        .imgContacto{
            padding-right: 5rem ;
            align-self: center;
        }

/*¡¡¡PROYECTO!!!!*/
    /*Color de menú actual*/
    #proyecto{
        color: #5baca1;
        font-size: 1.5rem;
    }


/*Main*/

    iframe{
        width: 90.8rem;
        height: 42rem;
    }

/*¡¡¡SUCURSALES!!!!*/
    /*Color de menú actual*/
    #sucursales{
        color: #5baca1;
        font-size: 1.5rem;
    }

    /*Main*/

        .tarjetaSuc {
            animation: tarjeta 1s;
            background: linear-gradient( #357077 50%, #102227 100% );
            color: #ffffff;
            padding: 3% 3% 3% 3%;
            margin: 5%;
            border-radius: 1%;
            border: solid rgba(8, 33, 56, 0.342);
            box-shadow: 5px 5px 5px 5px #210c9756;
        }

        .tarjetaSuc h1{
            font-family: 'Righteous', cursive;
            letter-spacing: 0.1rem;
            font-size: 4.6rem;
            margin: 0rem;
            text-align: center;
            color: #05090c;
            text-shadow: -0.04em 0 0 #F22613,  0.04em 0 0 #00FFFF;
        }

        .tarjetaSuc p {
            color: #05090c;
            text-align: center;
            padding: 1%;
        }

        .i_frame{
            width: 100%;
        }




@media (max-width: 412px){
    


    #h_index {
        height: 50rem;
        background-size: cover;
    }
    
 
    .listaNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        text-align: center;
        height: max-content;
    }

    .listaNav li {
        padding: 0.5rem;
    }

    .headerMenu ul li a {
        text-decoration: none;
        font-size: 0.9rem;
    }

    ul ul li a:hover {
        display: none;
    }

    ul li:hover ul{
        display: none;
    }

    ul ul {
        display: none;
    } 
    ul ul li {
        display: none;
    }

    ul ul li a{
        display: none;
    }
    

#hombre {
    height: 50%;
}

    #hombre div {
        margin: 0rem 0rem 0rem 1rem;  
    }

    #hombre div h1{
    font-size: 1rem;
    }
    

    .bloqueBeneficio {
        margin: 1rem;
    }

    button{
        margin: 0 auto;
        margin-top: 2rem;
    }
    

    .contenedorBloques{
        flex-wrap: wrap;
        font-size: 1rem;
        margin: 3rem 0rem ;
    }
    
    .bloqueBeneficio {
        
        padding: 2rem;
        margin: 0rem;
        font-size: 0.5rem;
        width: 7rem;
        height: 7rem;
        
        
    }
  
    .sale {
        display: flex;
        flex-direction: column ;
        padding: 2rem;
    }
    

    
    .texto{
        margin: 0.5rem 2rem;
        text-align: center;
    }
    .texto h1{
        font-size: 4rem;
        margin: 1rem;
    }

    .boton{
        font-size: 1rem;
        margin: 0.5rem 2rem ;
    }
    
    #text {
        padding: 2rem; 
        margin: 5rem 1rem ;
        }
    
    #text h2{
        font-size: 1.1rem;
        }

    #text p{
        font-size: 1rem;
    }

    .conoceProyecto{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000;
    }
    
    .btn_proyecto{
        background-color: rgba(255, 255, 255, 0.822);
        color: #000000;
    }

    .conoceProyecto img{
        width: 100%;
    }

footer{
    height: 16rem;
}

.footer_fila_1{
    padding: 5rem 1rem 1rem 1rem;
}

.footer_fila_1 p{
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.footer_fila_1 h6{
    font-size: 1.5rem;
    padding-left: 1rem;
}

    .footer_fila_2{
        font-size: 0.5rem;
    }

    .redes{
        font-size: 2rem;
    }

    .redes a{
        padding: 0.3rem;
    }



    #h_todos{
        height: 56vh;
    }

    .banner{
        width: 100%;
        margin-bottom: 2rem;
    }

    .grid_tienda {
        display: flex;
        flex-direction: column;
        background: rgb(170,190,227);
        background: radial-gradient(circle, rgba(170,190,227,1) 55%, rgba(0,0,0,1) 100%);
    }
    
    .textModelo{
        padding: 1rem;
        text-align: center;
        font-size: 0.8rem;
        background-color: #b6d4d3;
    }



    .filtro{
        overflow: scroll;
        height: auto;
        width: auto;
       display: unset;
    }

    .filtro ul{
        display: flex;
        
    }
    
    .filtro ul li a{
        font-size: 0.8rem;
    }

    .nav_tienda ul ol{
    display: none;
    }


    .formulario_tienda form{
        position: relative;
        padding: 0rem 1rem;
    }

    .formulario_tienda form h4{
        font-size: 0.8rem;
        padding: 1rem 0rem;
    }

    .precio label{
        padding: 0rem;
    }

    .pago{
        padding: 0rem;
    }
    .pago label{
        font-size: 0.8rem;
        padding: 1rem 0rem;
    }
    
    .formulario_tienda form label{
        font-size: 0.8rem;
    }

    .galeriaTienda{
        display: flex;
        flex-wrap: wrap;
        margin: 0%;
        background-color: #ffffff;
        padding: 0rem; 
        width: auto;
    }


    #galeriaTienda1{
        padding: 0rem;
    }
    
    .galeriaTienda img{
        background-color: #00000013;
        width: 6rem;
        height: 6rem;
    }
}

    .contenedorContacto{
        flex-direction: column;
        align-items: center;
        padding: 3% 3% 3% 3%;
        margin: 1%;
        width: 90%;
    }   

    .formulario{
        margin-top: 4%;
        padding-top: 0rem;
        width: 18rem;
        padding: 5%;
    }   

    .contenedorContacto h1{
        font-size:2rem;
    }

    .botones{

        margin: 5% 3%;
    }   
    iframe{
        width: 100%;
        height: 30rem;
    }   

    .imgContacto{
        padding-right: 0rem ;
        align-self: center;
    }

    .tarjetaSuc h1{
        font-size: 2rem;
        padding: 2rem 0rem ;
    }