
@import "./animaciones";
@import "./variables";
@import "./mixin";

#inicio{
    color: $colorHover;
    font-size: 1.4rem;
}

#hombre {
    @include flexBox (flex,row,unset,flex-end);
    height: 90%;
    div{
        background: rgba( 16, 60, 43, 0.45 );
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.205);
        backdrop-filter: blur( 13px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        @include tamaños (5rem, 2rem, 22rem,unset);
        font-size: 1rem;
        @include flexBox (flex,column,unset,stretch);
        transition: .5s;
        animation: izq_a_der .5s ease-in;
        h1{
            color: #dff8f58c;
            text-shadow: #00E6F6 1px;
        }
    }
    p{
        margin: 1rem 0rem;
        color: #dff8f58c;
    }
    
}

.botn {
    @include tamaños (unset,0.5rem,7rem,unset);
    border: none;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    color: #ffffffc0;
    text-align: center;
    font-size: 0.8rem;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 5px #212529;
    outline: none;
    &:hover{
        background-color: #ffffff5d;
        color: rgb(0, 0, 0);
        box-shadow: 0 3px #212529;
        top: 1px;
    }
    &:active{
        box-shadow: 0 0 #212529;
        top: 5px;
    }
}

.contenedorBloques{
    @include flexBox (flex,row,space-around,unset);
    font-size: 0.8rem;
    transition: all 500ms;
    margin: 1rem 5rem ;
    animation: blur 1s
}

.bloques{
    @include tamaños (0rem,0rem 7rem,27rem,unset);
    @include flexBox (flex,column,unset,center);
    color:map-get($tarjeta , colorr);
    transition: map-get($tarjeta , transicion);
    cursor:map-get($tarjeta, cursorr);
    text-align: map-get($tarjeta , textalign);
    h2{
        font-size: 1.1rem;
        color: #000000;
        text-shadow: $textshadow;
    }
    ul{
        list-style: none;
        padding: 0rem;
    }
    p{
        margin: 0rem;
    }
    img{
        padding: 1.5rem
    }
}

.bloques1{
    @extend .bloques;
    border-left: solid 2px rgba(0, 0, 0, 0.295);
    border-right: solid 2px rgba(0, 0, 0, 0.295);
}

.sale {
    @include grilla (grid,550px 550px,auto 500px auto,0px,0px);
    grid-template-areas: 
    "text fotos"
    "foto fotos"
    "foto btn";
    padding: 3rem;
    margin: 3rem;
    justify-content: center;
    background: linear-gradient( #1a777a8a 5%, #102227 100% );
}

.texto{
    margin: 0.5rem 2rem;
    padding: 0rem;
    border-bottom: solid #05090c;
    h2{
        font-family: 'Righteous', cursive;
        letter-spacing: 0.1rem;
        font-size: 4.6rem;
        margin: 0rem;
        color: #05090c;
        text-shadow:$textshadow;
        animation: para_arriba 1s;
    }
}


.foto-1{
    grid-area: foto;
    margin: 0rem 2rem;
    background-size: cover;
    animation: para_arriba 1s;
    border-radius: 1%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px #0000001f;
    transition: .5s;
    img{
        width: 100%;
        transform: scale(1);
        transition: .3s ease-in-out;
    }
    &:hover{ 
        box-shadow: 5px 5px 5px 5px #0000003b;
        img{
            transform: scale(1.2);  
        }
    }
}


.foto-2{
    grid-area: fotos;
    margin: 0rem 2rem;
    background-size: cover;
    animation: para_abajo 1s;
    border-radius: 1%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px #0000001f;
    transition: .5s;
    img{
        width: 100%;
        transform: scale(1);
        transition: .3s ease-in-out;
    }
    &:hover{ 
        box-shadow: 5px 5px 5px 5px #0000003b;
        img{
            transform: scale(1.2);  
        }
    }
}


.boton{
    grid-area: btn;
    font-size: 1.5rem;
    font-family: 'Righteous', cursive;
    padding: 1rem 1rem;
    border-top: solid #05090c;
    margin: 0.5rem 2rem ;
    letter-spacing: 0.1rem;
    animation: para_abajo 1s;
}

.button-glitch,
.button-glitch:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #05090c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #2699a1;
    outline: transparent;
    position: relative;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    
}

.button-glitch:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #000fe2 5%);
    text-shadow: $textshadow;
    clip-path: var(--slice-0);
}

.button-glitch:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

#text {
    color: rgba(15, 14, 14, 0.781);
    text-align: center;
    padding: 2rem; 
    margin: 3rem 1rem;
    h2{
        font-size: 3rem;
        overflow: hidden; 
        border-right: .15em solid rgb(23, 148, 197); 
        white-space: nowrap;
        margin: 0 auto; 
        letter-spacing: .10em; 
        animation: 
        typing 3.5s steps(40, end),
        barrita .75s step-end infinite;
        width: 48rem;
        }
    p{
        font-size: 1.5rem;
        line-height: 2.2rem;
        font-weight: 200;
        position: relative;
        padding-top: 50px;
    }
}

.conoceProyecto{
    background: linear-gradient( rgb(0, 0, 0) 40%, rgb(204, 208, 209) 41%);
    @include flexBox (flex,row,space-between,center);
    padding: 0% 0%;
    margin-top: 8rem;
    animation: der_izq 1s;
    img{
        border-radius: 100%;
        margin-left: 15rem;
        transition: 1s;
        box-shadow: #0000001c 5px 5px 5px 5px;
        &:hover{
            transform: rotateX(360deg) ;
        }
    }
}
.contenedorProyecto{
    color: rgb(255, 255, 255);
    text-align: justify;
    font-size: 2rem;
    padding: 3rem;
    h4{
        color: #1e5357;
        letter-spacing: 0.4rem;
    }
}


.btn_proyecto{
    @extend .botn;
}

