
@import "./animaciones";
@import "./variables";
@import "./mixin";

#tienda{
    color: map-get($pagActual, colorPag);
    font-size: map-get($pagActual , fontsize );
}

#h_todos{
    background-color: #ffffff;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: para_abajo 1s;
}

.banner{
    width: 100%;
    margin-bottom: 5rem;
    animation: izq_a_der 1s;
}

.grid_tienda {
    @include grilla (grid,auto 1fr,auto 1fr,.5rem,.5rem);
    grid-template-areas: 
    "modelos galeria"
    "filtro galeria";
    height: 158rem;
}

.modelosSect{
    background-size: cover;
    align-items: center;
    width: 0 auto;
    grid-area: modelos;
    h1{
        font-size: 1.2rem;
    }
    h2{
        font-size: .8rem;
    }
}

.textModelo{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.2rem;
    color: rgb(0, 0, 0);
    padding-bottom: 1rem;
}

.filtro{
    background-color: #ffffff;
    margin: 0%;
    height: 103.1%;
    width: 16.6rem;
    padding: 1rem ;
    border-right: solid 0.1rem #0000004d;
    grid-area: filtro;
}

.nav_tienda {
    position: relative;
    ul{
        list-style: none;
        position: static;
        padding-left: 0%;
        li{
            position: relative;
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            a{
                color: rgb(0, 0, 0);
                text-decoration: none;
                &:hover{
                        text-decoration: underline;
                        animation: underline 1s infinite;
                }
            }
        }
    }
}

label{
    display: unset !important;
}

.galeria{
    grid-area: galeria;
    
}
.galeriaTienda{
    @include flexBox (flex,row,center,center);
    margin-left: 2%;
    background-color: #ffffff;
    padding-bottom: 4rem; 
}

#galeriaTienda1{
    padding-top: 4rem;
}

.foto{
    @include flexBox (flex,column,start,start);
    margin: 1rem;
    background-color: #e2e2e285;
    border-radius: 2%;
    border:rgba(0, 0, 0, 0.041) solid 1px;
    font-family: 'Roboto', sans-serif;
    &:hover{
        transform: scale(1.1);
        box-shadow: #0000000e 5px 5px 5px 5px;
    }
    img{
        &:hover{
            cursor:pointer;
        }
    }
    .title{
        padding: 8%;
        text-align: start;
        font-size: 0.9rem
    }
    section{
        padding: 8%;
        padding-top: 0%;
        width: 100%;
        .oferta{
            font-size: 0.8rem;
            text-decoration: line-through;
            color: rgba(0, 0, 0, 0.466);
        }
    }
}

.precio{
    @include flexBox (flex,row,unset,center);
    span{
        font-size: 1.3rem;
    }
    div{
        display: flex;
        margin-left: 3rem;
        i{
            padding: 0% 20%;
            &:hover{
                cursor:pointer;
                color: #78b9b1;
                transform: scale(1.1);
            }
        }
    }
}


