@import "../Variables/_variables.scss";
@import "../Animaciones/_animaciones.scss";

#h_index{
    background-image: url("../Multimedia/background81.jpg");
    height: 100vh;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: para_abajo .5s;
}

.logo{
    transition:.5s;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1.5rem;
    padding-bottom: 0rem;
    a{
        padding-top: 0.4rem;
        margin-right: 1rem ;
    }
    img {
        transition: all 500ms;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.nombreProyecto {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.618);
    letter-spacing: 0.1rem;
    width: 3rem;
    align-self: center;
}

.headerMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    justify-content: center;
    animation: blur .5s 0s;
    &:not(.not){
        box-shadow: 1px 3px #08080844 ;
    }
    ul li{
        a{
            color: #000000 ;
            text-align: center;
            text-transform: uppercase;
            text-shadow: $textshadow;
            text-decoration: none;
            font-weight: lighter;
            padding-bottom: 10px;
            &:hover{
                color: $colorHover;
            }
            &:before{
                font-family:fontAwesome;
                font-size:.75em;
                line-height:50px;
                position:absolute;
                right:25px;
                top:0;
                bottom:0;
                margin:auto;
                transition:.5s;
            }
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}


.listaNav {
    list-style: none;
    letter-spacing: 0.1rem;
    padding: 0.5rem;
    li{
        position: relative;
        display: inline-block;
        padding:0rem 1.5rem;
        transition:.4s;
    }
}

.glitch_menu{
    cursor: pointer;
    font-size: 1.1rem;
    &:after{
        content:"";
        bottom:5px;
        transition:.5s;
        transition-delay:.2s;
    }
}

ul{
    ul{
        position: relative;
        display: none;
        li{
            position: relative;
            display: none;
            
            a{
                font-size: 0.8rem ;
                padding: 0rem 0rem;
                letter-spacing: 0rem;
                &:hover{
                    color: $colorHover;
                    background-color: rgba(255, 255, 255, 0.685); ;
                    border-radius: 2rem;
                    padding: 0.5rem;
                }
            }
            &:hover{
                transform: unset;
            }
        }
    }
    li{
        &:hover{
            ul{
                position: absolute; 
                display: block;
                background: rgba( 255, 255, 255, 0.25 );
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.171);
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                z-index: 1;
                padding: 3rem 0rem 1rem 0rem;
                border-radius: 2rem;
                top: -15px;
                left: -0.5rem;
                text-align: center;
            }
        }
    }
}