<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--KEYWORDS-->
    <meta name="keywords" content="atencion, gafas, consultas, arreglo lentes, final eyewear project">
    <meta name="description" content="Sacate todas las dudas Te ayudamos en lo que necesites.">
    <title>Contacto - Final Eyewear Project</title>

    <link rel="shortcut icon" href="../Multimedia/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d7aad8375a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
</head>

<body class="gcont_index">
    <header class="encabezado" id="h_todos">
        <div class="contenedorMenu"> 
            <div class="logo">
                <a href="../index.html"><img class="icono" src="../Multimedia/logo.png" alt="The Final Eyewear Project" width="30" height="30"></a>
                <p class="nombreProyecto">THE FINAL EYEWEAR PROJECT</p>
            </div>
            
            <nav class="headerMenu" >
                <input type="checkbox" name="" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label>
                <ul class="listaNav">
                    <li>    
                        <a class="glitch_menu" href="../index.html" >Inicio</a>
                    </li>  
                    <li>
                        <a class="glitch_menu" href="./Tienda.html">Tienda</a>
                        <ul class="dropdownn">
                            <li><a class="submenu" href="./Tienda.html">Modelos</a></li>
                            <li><a class="submenu" href="./Tienda.html">Tendencias</a></li>
                            <li><a class="submenu" href="./Tienda.html">Novedades</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="glitch_menu" href="./Proyecto.html">Proyecto</a>
                    </li>
                    <Li>
                        <a class="glitch_menu" href="./Sucursales.html">Sucursales</a>
                    </Li>
                    <Li>
                        <a class="glitch_menu" id="contacto" href="./Contacto.html">Contacto</a>
                    </Li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        
        <nav aria-label="breadcrumb" class="m-3 ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="../index.html" class="text-secondary">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contacto</li>
            </ol>
        </nav>

        <section>
            <div class="contenedorContacto" >
                <!--Formulario-->
                <form class="formulario" action="#">
                    <h1>¡Contactanos!</h1>
                    <label for="nombre"><b>N O M B R E :</b></label>
                    <input class="input" type="text" name="nombre" placeholder="Escriba su nombre">
                
                    <label for="apellido"><b>A P E L L I D O:</b></label>
                    <input class="input" type="text" name="apellido" placeholder="Escriba su apellido">

                    <label for="email"><b>E M A I L:</b></label>
                    <input class="input" type="email" name="email" placeholder="Ejemplo@gmail.com">

                    
                    <div class="sexo">
                    <label for="sexo"><b>S E X O:</b></label>
                        <input type="radio" name="sexo" value="femenino">
                        <label for="sexo">Femenino</label>
                    
                        <input type="radio" name="sexo" value="masculino">
                        <label for="sexo">Masculino</label>
                    </div>   

                    <select class="input" name="Estado civil">
                        <option value="Seleccionar">-Seleccionar-</option>
                        <option value="Soltero/a">Consulta</option>
                        <option value="Casado/a">Compra</option>
                    </select>

                    <div class="newsletter">
                        <label for="newsletter">¿Desea recibir el Newsletter?</label>
                        <input type="checkbox" name="newsletter" value="aceptar" >
                    </div>
                    
                    <textarea name="comentario" cols="70" rows="5" placeholder="Comentario"></textarea>
                
                    <div class="botones">
                        <input type="submit" value="Enviar formulario">
                        <input type="reset" value="Limpiar formulario">
                    </div>
                </form>

                <div class="imgContacto">
                    <!--img-->
                    <img src="../Multimedia/de0d127b5419170395ff12519c4ca491.jpg" width="100%" alt="Contacto">
                </div >
            </div>
        </section>
    </main>
    <!--footer-->
    <footer>
        <section class="footer_fila_1">
            <div class="seccion1">
                <div class="fooDiv1">
                    <h6>Contacto</h6>
                    <p>+549 11 1234 5678</p>
                    <p>info@finaleyewearproject.com</p>
                    <p>260 Howard Ave, NY</p>
                </div>
                <div class="fooDiv1">
                    <h6>Categorías</h6>
                    <a href="../View/Tienda.html">Nuestras marcas</a>
                    <a href="../View/Tienda.html">Estéticos</a>
                    <a href="../View/Tienda.html">Sport</a>
                </div>
            </div>
            <div class="seccion2">
                <div class="sub">
                    <p>Suscríbete</p>
                    <div class="ll-subscription">
                        <form autocomplete="off" action="/subscribe" method="post">
                            <div class="ll-flex">
                                <div style="flex: 1 1 0;">
                                    <input type="email" name="email" placeholder="ejemplo@example.com">
                                </div>
                                <div style="margin-left: -20px;">
                                    <button type="submit" disabled="disabled">&#8594;</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="redes">
                    <p>Síguenos</p>
                    <div class="wrapper">
                        <div class="icon facebook">
                            <span><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></span>
                        </div>
                        <div class="icon twitter">
                            <span><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a></span>
                        </div>
                        <div class="icon instagram">
                            <span><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></span>
                        </div>
                        <div class="icon github">
                            <span><a href="https://github.com/"><i class="fab fa-github"></i></a></span>
                        </div>
                        <div class="icon youtube">
                            <span><a href="https://www.youtube.com/watch?v=TO9vsrunsdA"><i class="fab fa-youtube"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer_fila_2"><p>Copyright - 2022. Todos los derechos reservados.</p></section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>