<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Multimedia/logo.png">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d7aad8375a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <title>Tienda - Final Eyewear Project</title>
</head>

<header class="encabezado" id="h_todos">
        
    <div class="logo">
        <a href="./Index.html"><img class="icono" src="../Multimedia/logo.png" alt="TfeP" width="50" height="50"></a>
        <p class="nombreProyecto">THE FINAL EYEWEAR PROJECT</p>
    </div>

    <!-- searchbox
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <a href="##" class="icon">
                <i class="fas fa-search"></i>
            </a>
        </div>-->
    
    
    <nav class="headerMenu" >
        <ul class="listaNav">
            <li>    
                <a class="glitch_menu" href="../Index.html" >Inicio</a>
            </li>  
            <li>
                <a class="glitch_menu" id="tienda" href="./Tienda.html">Tienda ▼</a>
                <ul class="transition_subnav">
                    <li><a class="submenu" href=".Tienda.html/#todo">Todos los modelos  </a></li>
                    <li><a class="submenu" href=".Tienda.html/#tendencias">Tendencias  </a></li>
                    <li><a class="submenu" href=".Tienda.html/#nuevos">Nuevos modelos</a></li>
                </ul>
            </li>
            <li>
                <a class="glitch_menu" href="./Proyecto.html">Proyecto</a>
            </li>
            <Li>
                <a class="glitch_menu" href="./Sucursales.html">Sucursales</a>
            </Li>
            <Li>
                <a class="glitch_menu" href="./Contacto.html">Contacto</a>
            </Li>
        </ul>
    </nav>
    </header>
    


    <main class="mainT">

        <img class="banner" src="../Multimedia/banner.png" alt="">

    <div class="grid_tienda">

        <div class="modelosSect">   
            <div class="textModelo" id="nuevos">
                <p>¡Nuevos modelos!</p>
                <h2>Modelos</h2>
            </div>
        </div>

        <div class="filtro">
                <nav class="nav_tienda">
                    <ul>
                        <li>
                            <a href="./x.html">Los más vendidos</a>
                        </li>
                        <li>
                            <a href="./x.html">Nuevos modelos</a>
                        </li>
                        <li>    
                            <a href="./x.html"> > Categoría</a>
                                <ol>
                                    <li><a href="./x.html">Rectangular</a></li>
                                    <li><a href="./x.html">Redondo</a></li>
                                    <li><a href="./x.html">Cuadrado</a></li>
                                    <li><a href="./x.html">Oversize</a></li>
                                    <li><a href="./x.html">Envolvente</a></li>
                                    <li><a href="./x.html">Aviador</a></li>
                                    <li><a href="./x.html">Vintage</a></li>
                                    <li><a href="./x.html">Ovalado</a></li>
                                    <li><a href="./x.html">Hexagonal</a></li>
                                
                                </ol>   
                        </li> 
                    </ul>
                </nav>
            <div class="formulario_tienda">
                <Form>
                    <h4>Filtros</h4>
                    <div class="precio">
                    <label for="precio">Precio</label>
                    </div>
                    <div>
                    <input type="number" name="precio" placeholder="mínimo"> 
                    <input type="number" name="precio" placeholder="máximo">
                    </div>
                    <div class="pago">
                        <input type="radio" name="pago" value="Sin interés"><label for="pago">Pago sin interés</label>
                    </div> 
                    <div class="pago">
                        <input type="radio" name="pago" value="Envío gratis"><label for="pago">Envío gratis</label>
                    </div>      
                </Form>
            </div>
        </div>

        <div class="galeria">
            <div class="galeriaTienda" id="galeriaTienda1"> 
                <img src="../Multimedia/Gafas/1.jpg" width="200rem" height="200rem">
                <img src="../Multimedia/Gafas/2.jpg" width="200rem" height="200rem" alt="Eyewear">
                <img src="../Multimedia/Gafas/3.jpg" width="200rem" height="200rem" alt="Eyewear">
                <img src="../Multimedia/Gafas/4.jpg" width="200rem" height="200rem" alt="Eyewear">
            </div>

            <div class="galeriaTienda">
                <img src="../Multimedia/Gafas/5.jpg" width="200rem" height="200rem" alt="Eyewear">
                <img src="../Multimedia/Gafas/6.jpg" width="200rem" height="200rem" alt="Eyewear">
                <img src="../Multimedia/Gafas/7.jpg" width="200rem" height="200rem" alt="Eyewear">
                <img src="../Multimedia/Gafas/8.jpg" width="200rem" height="200rem" alt="Eyewear">
            </div>

            <div class="galeriaTienda">
                    <img src="../Multimedia/Gafas/9.jpg"width="200rem" height="200rem" alt="Eyewear">
                    <img src="../Multimedia/Gafas/10.jpg" width="200rem" height="200rem" alt="Eyewear">
                    <img src="../Multimedia/Gafas/11}.jpg" width="200rem" height="200rem" alt="Eyewear">
                    <img src="../Multimedia/Gafas/12.jpg" width="200rem" height="200rem" alt="Eyewear">
            </div>
        </div>  
    </div>

    </main>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,192L360,128L720,224L1080,160L1440,192L1440,320L1080,320L720,320L360,320L0,320Z"></path></svg>
        <!--footer-->
        <footer>
            <div class="footer_fila_1">
                <div class="fooDiv1">
                    <h6>Contacto</h6>
                    <p>+549 11 1234 5678</p>
                    <p>info@finaleyewearproject.com</p>
                    <p>260 Howard Ave, NY</p>
                </div>
                <div class="redes">
                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer_fila_2"><p>Copyright - 2022. Todos los derechos reservados.</p></div>
        </footer>
            
        
    </body>
</html>